#!/bin/bash  
set -e
EBS_FS_NE_TOP="{{ ebs_fs_ne_path }}" 
WEBLOGIC_CONFIG_XML="{{ ebs_run_domain_home}}/config/config.xml"
WEBLOGIC_CONFIG_XML_NAMESPACE="d=http://xmlns.oracle.com/weblogic/domain"
APM_INSTRUMENTATION_PATH="${EBS_FS_NE_TOP}/apmagent/lib/system/ApmAgentInstrumentation.jar"
APM_STARTUP_ARG="-javaagent:${APM_INSTRUMENTATION_PATH}"
APP_SERVERS=()
EBS_MONITORED_SERVERS_REGEX="(oacore|forms-c4ws|oafm)"

# functions
function backup_file() {
    cp -a "${WEBLOGIC_CONFIG_XML}" "${WEBLOGIC_CONFIG_XML}.$(date --iso-8601=seconds)"
}

function get_app_servers {
    IFS=$'\n'
    APP_SERVERS=(
        $(xmlstarlet sel \
            -N "${WEBLOGIC_CONFIG_XML_NAMESPACE}" \
            -t -m "/d:domain/d:server" \
            -v "./d:name" -n \
            "${WEBLOGIC_CONFIG_XML}")
    )
}

function configure_apm_instrumentation() {
    server="${1}"
    echo "START: ${server}"
    server_start_arguments=$(trap "xmlstarlet sel -N \"${WEBLOGIC_CONFIG_XML_NAMESPACE}\" \
                    -t -m \"/d:domain/d:server[d:name=('${server}')]\" \
                    -v 'd:server-start/d:arguments' \"${WEBLOGIC_CONFIG_XML}\"" 0)
    if [[ -z "${server_start_arguments}" ]]; then
        echo "-- No server arguments found for server ${server}.  skipping instrumentation removal."
    else
        # Per current docs, APM should be deployed on oacore, forms-c4ws, and oafm.  forms is not mentioned.
        if [[ $server =~ $EBS_MONITORED_SERVERS_REGEX ]]; then
            if [[ $server_start_arguments =~ "ApmAgentInstrumentation.jar" ]]; then
                echo "-- Found existing APM monitoring.  Updating arguments."
                new_server_start_arguments="${server_start_arguments/-javaagent:*ApmAgentInstrumentation\.jar/${APM_STARTUP_ARG}}"
            else
                echo "-- No prior APM monitoring found.  Adding APM startup arguments."
                new_server_start_arguments="${server_start_arguments} ${APM_STARTUP_ARG}"
            fi
        else 
            echo "-- Server is not in EBS APM deploy list.  Ensuring APM is not configured."
            new_server_start_arguments="${server_start_arguments/-javaagent:*ApmAgentInstrumentation\.jar}"
        fi
        echo "-- Updating server-start arguments for ${server}."
        xmlstarlet edit --inplace \
            -N "${WEBLOGIC_CONFIG_XML_NAMESPACE}" \
            -u "/d:domain/d:server[d:name='${server}']/d:server-start/d:arguments" \
            -v "${new_server_start_arguments}" \
            "${WEBLOGIC_CONFIG_XML}"
    fi
    echo "COMPLETE: ${server}"
    echo "-------------------------------------------"
}


backup_file ${WEBLOGIC_CONFIG_XML} && echo "PREREQ: Backup XML input"
get_app_servers
for server in "${APP_SERVERS[@]}"
do
    configure_apm_instrumentation "${server}"
done