#!/bin/bash

# functions
function backup_file() {
    cp -a "${1}" "${1}.$(date --iso-8601=seconds)"
}

# vars
ebs_fs_ne_path="{{ ebs_fs_ne_path  }}"
#ebs_weblogic_config="{{ ebs_run_domain_home}}/config/config.xml"
ebs_weblogic_config="./config.xml"

apm_instrumentation_path="${ebs_fs_ne_path}/apmagent/lib/system/ApmAgentInstrumentation.jar"
apm_startup_arg="-javaagent:${apm_instrumentation_path}"


monitored_weblogic_app_servers="{{ monitored_weblogic_app_servers }}"

echo "Backuping up Weblogic Config file"
backup_file ${ebs_weblogic_config}

IFS=',' 
read -ra app_servers <<< "${monitored_weblogic_app_servers}"
echo "${app_servers}"
for app_server in "${app_servers[@]}"
do
    search_path="''"
    server_startup_args=""
    echo "Locating startup arguments for ${app_server}"
    server_startup_args=$(xmlstarlet sel -N d=http://xmlns.oracle.com/weblogic/domain \
                        -t -m "/d:domain/d:server[d:name=('${app_server}')]" \
                        -v 'd:server-start/d:arguments' "$ebs_weblogic_config")
    if test -z "${server_startup_args}"
    then
        echo "No server arguments found.  skipping."
    else
        if [[ $server_startup_args =~ "ApmAgentInstrumentation.jar" ]]; then
            echo "Found existing APM monitoring.  Updating arguments."
            updated_server_startup_args="${server_startup_args//(-javaagent:.*ApmAgentInstrumentation\.jar)+/${apm_startup_arg}/}"
        else
            echo "No prior APM monitoring found.  Adding APM startup arguments."
            updated_server_startup_args="${server_startup_args} ${apm_startup_arg}"
        fi

        echo "Saving updated arguments for ${app_server}"
        xmlstarlet edit --inplace \
            -N d="http://xmlns.oracle.com/weblogic/domain" \
            -u "/d:domain/d:server[d:name='${app_server}']/d:server-start/d:arguments" \
            -v "${updated_server_startup_args}" \
            "${ebs_weblogic_config}"

    fi
    echo "Completing work for ${app-server}"
    echo "-------------------------------------------"
done